@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Poppins&family=Raleway:wght@500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.product-title{
    margin-top: 40px;
}

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.first-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.first-banner h1{
    font-size: 45px;;
}

.first-banner p{
    font-size: 18px;
    margin: 20px 0;
}

.change-button{
    padding: 10px 20px;
    background-color: #FF00BE;
    color: white;
    border-radius: 30px;
    border: 0;
}

.second-banner img{
    width: 300px;
    margin-left: 80px;
    border: 1px solid gainsboro;
    border-radius: 50%;
}

/* ----------------
collections style
-------------------*/
.first-collection{
    text-align: center;
    margin: 40px 0;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   grid-row-gap: 25px;
}

.collection .collection-banner img{
    width: 200px;
    height: 150px;

}

.collection-detail{
    margin-top: 10px;
}

.fa-star.filled{
    color: #FFC014;
}

.product-info{
    font-size: 12px;
}

.delivery-item{
    margin: 50px 0;
}

.feature-banner img{
    width: 350px;
    height: 200px;
}

.footer-area{
    background-color: hsl(233, 93%, 5%);
    color: white;
    text-align: center;
    padding: 30px 0;
    font-size: 12px; 
}

/* responsive css*/

@media (max-width:950px) {
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    .first-banner h1{
        max-width: 800px;
    }
}

@media (max-width:550px) {
    .collections,
    .banner
    {
        grid-template-columns: 1fr;
    }
    
}